<div class="new-chore">
  <h2>Add New Chore</h2>
  <%= form_for(@chore) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="div-date">
      <div class="field date">
        <%= f.label :due, class: "date-label" %>
        <%= f.date_select :due %>
      </div>
      <div class="field cost">
        <%= f.label :cost, value: "Cost in $" %>
        <%= f.number_field :cost %>
      </div>
    </div>

    <div class="field">
      <%= f.label :chore_photo %>
      <%= f.file_field :chore_photo, :class => "file-field" %>
    </div>

    <div class="actions">
      <%= f.button "Add", :class => "button"%>
    </div>
  <% end %>
</div>
